body{
  background-color: #d8d8d8;
}

.header-container{
  color: #fff;
  background-color: #333;  
  padding: 10px 0 10px 20px;
  margin-bottom: 20px;
}

.text-label{
  margin: 20px 0 10px 0;
}

form div{
  display: flex; 
  margin-bottom: 5px; 
}

.form-container{
  max-width: 250px;
}

form input{
  width: 70%;

  position: relative;
  z-index: 2;
  height: 40px;
  color: #333;
  border: 2px solid #3d3d3d;
  border-radius: 12px;
  padding-left: 10px;
}

form button{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 30%;
  transform: translateX(-10px);
  border: 2px solid #3d3d3d;
  border-radius: 0 12px 12px 0;
  background-color: #3d3d3d;
}

form button:hover {
  background-color: #4b4b4b;
  border-color:#4b4b4b; 
}

/* .profile-container{
  display: flex;
  align-items: center;
} */
.avatar-img{
  width: 100%;
  height: auto;
  max-width: 200px;
  min-width: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.img-cantainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.img-cantainer h2{
  font-size: calc(12px + 0.6vw);
}

.info-container{
  display: flex;
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  margin-bottom: 20px; 
}


.info-container p{
 font-size: calc(12px + 0.1vw);
 margin-left: 10px;
}

.rep-container{
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.rep-container ul{
  margin-top: 10px;
}

.rep-container li{
  margin-bottom: 45px;
}

.rep-container li a{
  color: #3d3d3d;
  font-weight: bold;
}

.rep-container li a:hover{
  color: #5f5f5f;
  text-decoration: underline;
}

.rep-container p{
  font-size: calc(12px + 0.4vw);
  margin-top: 10px;
}

@media only screen and (max-width: 787px) {
  .info-container{
    flex-direction:column; 
    margin-bottom: 10px; 
  }
  .info-container p{
    margin-bottom: 5px; 
  }
}